.git
.github
.circleci
.vscode
.idea
.DS_Store

build
build-*
build-btx
build-btx*
build-fuzz*
build-asan*
build_bench
ci
.ci-*
*.venv
venv
node_modules
out

src/qt/locale
depends/built
depends/work
depends/sources

test/cache
test/tmp
.ruff_cache

*.tar.gz
*.zip
*.log
