# btxd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.btx
host=127.0.0.1

#mainnet default
port=19334

#testnet default
#port=29334

#regtest default
#port=18443

#signet default
#port=38332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=b7545801
genesis=6db39cd6aa03d259232d301776550df7caa9a25da237b52c6ea74f2f5a0fbf1c
input=/home/example/.btx/blocks

# testnet
#netmagic=b7545802
#genesis=f1dde19eaa71533c46fd5892799e7e034500bf305a63f5cb60ee613d51cf0289
#input=/home/example/.btx/testnet3/blocks

# regtest
#netmagic=fabfb5da
#genesis=bbc501af18e6b3a69a43c6f134d4b9710bd96dff17ee07fa648c297438495247
#input=/home/example/.btx/regtest/blocks

# signet
#netmagic=<first 4 bytes of sha256d(signetchallenge)>
#genesis=f1dde19eaa71533c46fd5892799e7e034500bf305a63f5cb60ee613d51cf0289
#input=/home/example/.btx/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
